header{
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-top: 50px;
}
.example{
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 50px;
    margin-left: 30px;
}
